force-app/main/default/flows/Mails_de_Cumplea_os.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Mail_a_donante_actualiza_x_inflaci_n</name>
        <label>Enviar Mail a donante actualiza x inflación</label>
        <locationX>265</locationX>
        <locationY>768</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Padrino_Madrina_MediaBeca_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Email},desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.FirstName}, Reciduca te desea ¡Feliz Cumpleaños!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_mail_a_Donante_Mensual</name>
        <label>Enviar mail a Donante Mensual</label>
        <locationX>601</locationX>
        <locationY>738</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Donante_Mensual_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Email},desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.FirstName}, Reciduca te desea ¡Feliz Cumpleaños!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Mail_a_Media_Beca</name>
        <label>Enviar Mail a Media Beca</label>
        <locationX>358</locationX>
        <locationY>699</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Padrino_Madrina_MediaBeca_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Email},desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.FirstName}, Reciduca te desea ¡Feliz Cumpleaños!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_mail_a_no_donantes</name>
        <label>Enviar mail a no donantes</label>
        <locationX>679</locationX>
        <locationY>802</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Padrino_sin_Donacion_Recurrente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Email},desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.FirstName}, Reciduca te desea ¡Feliz Cumpleaños!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Enviar_mail_a_Padrino_Madrina_Media_Beca</name>
        <label>Enviar mail a Padrino/Madrina</label>
        <locationX>487</locationX>
        <locationY>774</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Padrino_Madrina_MediaBeca_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Email},desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>desarrolloinstitucional@fundacionreciduca.org.ar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!$Record.FirstName}, Reciduca te desea ¡Feliz Cumpleaños!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Enviar_Mail_si_es_Padrino</name>
        <label>Enviar Mail si es Padrino</label>
        <locationX>491</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_Contacto_General_No_Becario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPSP_Contactos_Generales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Que_tipo_de_donacion_hace</targetReference>
            </connector>
            <label>Es Contacto General No Becario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Que_tipo_de_donacion_hace</name>
        <label>Qué tipo de donación hace?</label>
        <locationX>479</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Enviar_mail_a_no_donantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin donación recurrente</defaultConnectorLabel>
        <rules>
            <name>Padrino_Madrina_MediaBeca</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Donacion_Recurrente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Padrino/Madrina</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_mail_a_Padrino_Madrina_Media_Beca</targetReference>
            </connector>
            <label>Padrino/Madrina</label>
        </rules>
        <rules>
            <name>Donante_Mensual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Donacion_Recurrente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donante mensual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_mail_a_Donante_Mensual</targetReference>
            </connector>
            <label>Donante Mensual</label>
        </rules>
        <rules>
            <name>Media_Beca</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Donacion_Recurrente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Beca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Mail_a_Media_Beca</targetReference>
            </connector>
            <label>Media Beca</label>
        </rules>
        <rules>
            <name>Donante_actualiza_x_inflaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Donacion_Recurrente__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donante actualiza x inflación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Mail_a_donante_actualiza_x_inflaci_n</targetReference>
            </connector>
            <label>Donante actualiza x inflación</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ObtenerRecordType</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.DeveloperName}</expression>
    </formulas>
    <interviewLabel>Mails de Cumpleaños {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mails de Cumpleaños</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>373</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Enviar_Mail_si_es_Padrino</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cumplea_osHoy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Deceased__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-02</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Donante_Mensual_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://reciduca--cg--c.documentforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Jpg&amp;amp;versionId=0681D000001MB01&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T1D000005Xmt2&amp;amp;page=0&amp;amp;d=/a/1D0000000JtL/s4Pftwlw22ddCnbwInZIQLIXEjNO3gqTkC1JdIglHX0&amp;amp;oid=00D1D0000005kTf&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 14px;&quot;&gt;{!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;En nombre de todos los que hacemos Reciduca, te deseamos un&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;muy&lt;/b&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;feliz cumpleaños&lt;/b&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;y aprovechamos a decirte lo mucho que valoramos tu compromiso.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Junto a vos&lt;/b&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;, en Fundación Reciduca trabajamos para que cada vez más jóvenes desarrollen su capacidad de elegir y opten por la educación y el trabajo como camino hacia la inclusión social.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Muchas gracias&lt;/b&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;por tu apoyo continuo.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;¡Que tengas un gran día!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Renová tu compromiso con el futuro de los jóvenes. Actualizá tu donación respondiendo este email o por whatsapp haciendo&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://api.whatsapp.com/send?phone=5491140267474&amp;amp;text=Quiero%20actualizar%20mi%20donaci%C3%B3n%20mensual&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;click acá&lt;/a&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 255); font-family: Arial, Helvetica, sans-serif;&quot;&gt;Las donaciones a Fundación Reciduca son deducibles del Impuesto a las Ganancias, art.81 inc.c) Ley 20.628.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Emiliano Raimondi&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Responsable de Donantes Individuales&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;http://www.fundacionreciduca.org.ar/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Fundación Reciduca&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.google.com/maps/search/Avenida+M%C3%A1rquez+504,+San+Isidro,+Provincia+de+Buenos+Aires?entry=gmail&amp;amp;source=g&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial, sans-serif; font-size: 12px; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255);&quot;&gt;Avenida Márquez 504, San Isidro, Provincia de Buenos Aires&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Whatsapp Donantes&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://api.whatsapp.com/send?phone=5491140267474&amp;amp;text=Hola,%20soy%20donante%20de%20Reciduca,%20mi%20nombre%20es%20&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(17, 85, 204);&quot;&gt;+54911 4026-7474&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Padrino_Madrina_MediaBeca_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://reciduca--cg--c.documentforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Jpg&amp;amp;versionId=0681D000001MB01&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T1D000005Xmt2&amp;amp;page=0&amp;amp;d=/a/1D0000000JtL/s4Pftwlw22ddCnbwInZIQLIXEjNO3gqTkC1JdIglHX0&amp;amp;oid=00D1D0000005kTf&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;En nombre de todos los que hacemos Reciduca, te deseamos un&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;muy&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;feliz cumpleaños&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;y aprovechamos a decirte lo mucho que valoramos tu compromiso.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;Junto a vos&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;, en Fundación Reciduca trabajamos para que cada vez más jóvenes desarrollen su capacidad de elegir y opten por la educación y el trabajo como camino hacia la inclusión social.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;Muchas gracias&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;por tu apoyo continuo.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;&quot;&gt;¡Que tengas un gran día!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Ayudanos a mejorar nuestra comunicación, actualizá tus datos haciendo&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://docs.google.com/forms/d/1I2Y5tQ7-moHAIt2eCM0IO30NiFyPDy9IR0upKDVOYZg/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(17, 85, 204);&quot;&gt;click acá&lt;/a&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(51, 51, 255);&quot;&gt;Las donaciones a Fundación Reciduca son deducibles del Impuesto a las Ganancias, art.81 inc.c) Ley 20.628.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Emiliano Raimondi&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Responsable de Donantes Individuales&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;http://www.fundacionreciduca.org.ar/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Fundación Reciduca&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.google.com/maps/search/Avenida+M%C3%A1rquez+504,+San+Isidro,+Provincia+de+Buenos+Aires?entry=gmail&amp;amp;source=g&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(17, 85, 204); font-family: arial, sans-serif;&quot;&gt;Avenida Márquez 504, San Isidro, Provincia de Buenos Aires&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; font-size: 12px;&quot;&gt;Whatsapp Donantes&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://api.whatsapp.com/send?phone=5491140267474&amp;amp;text=Hola,%20soy%20donante%20de%20Reciduca,%20mi%20nombre%20es%20&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(17, 85, 204);&quot;&gt;+54911 4026-7474&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Padrino_sin_Donacion_Recurrente</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://reciduca--cg--c.documentforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Jpg&amp;amp;versionId=0681D000001MB01&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T1D000005Xmt2&amp;amp;page=0&amp;amp;d=/a/1D0000000JtL/s4Pftwlw22ddCnbwInZIQLIXEjNO3gqTkC1JdIglHX0&amp;amp;oid=00D1D0000005kTf&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 14px;&quot;&gt;{!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;En nombre de todos los que hacemos Reciduca, te deseamos un&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;muy&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;feliz cumpleaños&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;y aprovechamos a decirte lo mucho que valoramos tu compromiso.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Junto a vos&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;, en Fundación Reciduca trabajamos para que cada vez más jóvenes desarrollen su capacidad de elegir y opten por la educación y el trabajo como camino hacia la inclusión social.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Muchas gracias&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;por tu apoyo continuo.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;¡Que tengas un gran día!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Reforzá tu compromiso con el futuro de los jóvenes sumándote como Donante.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Podés sumarte online haciendo&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://www.fundacionreciduca.org.ar/dona&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;&lt;strong&gt;click acá&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;, respondiendo este email o por whatsapp&amp;nbsp;al&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://api.whatsapp.com/send?phone=5491140267474&amp;amp;text=Quiero%20sumar%20mi%20aporte%20a%20Reciduca.%20Mi%20nombre%20es%20&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(17, 85, 204);&quot;&gt;+54911 4026-7474&lt;/a&gt;&lt;span style=&quot;font-size: 14px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 255); font-family: Arial, Helvetica, sans-serif;&quot;&gt;Las donaciones a Fundación Reciduca son deducibles del Impuesto a las Ganancias, art.81 inc.c) Ley 20.628.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Emiliano Raimondi&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Responsable de Donantes Individuales&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;http://www.fundacionreciduca.org.ar/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: Arial, Helvetica, sans-serif;&quot;&gt;Fundación Reciduca&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.google.com/maps/search/Avenida+M%C3%A1rquez+504,+San+Isidro,+Provincia+de+Buenos+Aires?entry=gmail&amp;amp;source=g&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(17, 85, 204); font-family: arial, sans-serif; font-size: 12px;&quot;&gt;Avenida Márquez 504, San Isidro, Provincia de Buenos Aires&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;Whatsapp Donantes&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://api.whatsapp.com/send?phone=5491140267474&amp;amp;text=Hola,%20soy%20donante%20de%20Reciduca,%20mi%20nombre%20es%20&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: rgb(17, 85, 204);&quot;&gt;+54911 4026-7474&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
